html,
body {
  padding: 0;
  margin: 0;
  font-family: "Urbanist" !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px !important;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh !important;
  background: #33415c !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5c677d !important;
  border-radius: 100vh;
}

.firefox-scrollbar {
  scrollbar-color: #33415c;
  scrollbar-width: thin;
}
